@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media only screen and (max-width: 900px) {
    .logo{
        width: 330px;
        height: 65px;
    }

    .regresar{
        width: 50px;
        height: 50px;
    }

    .juego{
        width: 300px;
        height: 110px;
    }

    .logo2{
        width: 330px;
        height: 110px;
    }

    .niveles{
        width: 220px;
        height: 140px;
    }

    .cartas{
        width: 170px;
        height: 180px;
    }

    .cartas2{
        width: 120px;
        height: 150px;
    }

    .cartas3{
        width: 90px;
        height: 130px;
    }
}
