.Fondoshumeda{
	background: url("../imagenes/SelvaHumeda1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.contenedor{
  width: 100%;
  height: 100%;
}
.encabezado{
  width: 100%;
  height: 15%;
}
.tarjetas{
  position: fixed;
  width: 100%;
  height: 85%;
}
.contenedorfinal{
	position: fixed;
	width: 100%;
	height: 100%;
}
.fondos{
	 
text-align: center;
color: white;
font-family: impact;
font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: white;
-webkit-text-stroke: 2px black;

}
.botonesmenu:hover{
    transform: scale(1.10);
}
*{
	transition: all 1s;
}
.botonesmenu{
	margin: flex;
    margin-left: 1%; 
    margin-right: 5%;
    margin-top:1%;
}
.Fondostundra{
	background: url("../imagenes/tundra3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondosdesierto{
	background: url("../imagenes/Desierto1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondossabana{
	background: url("../imagenes/sabana1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}

.Fondomar{
	background: url("../imagenes/Mar1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondogranja{
	background: url("../imagenes/Granja1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	    cursor: url("../imagenes/cursorA.png"),auto;

}

