.Transportes{
   background: url("../imagenes/Transportes.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;
}
.contenedorfinal{
  position: fixed;
  width: 100%;
  height: 100%;
}

.fondos{
   
text-align: center;
color: white;
font-family: impact;
font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: white;
-webkit-text-stroke: 2px black;

}
#titulo1{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}
#titulo1:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}
.nivel1{
   background: url("../imagenes/Transportes.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.nivel2{
   background: url("../imagenes/MARITIMOS.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondoterrestres{
	background: url("../imagenes/Transportes.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondomaritimos{
	background: url("../imagenes/MARITIMOS.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.botonesmenu{
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2%;
}
.botonesmenu:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}
.Fondoaereo{
   background: url("../imagenes/cielo.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Fondoespacial{
    background: url("../imagenes/Espacial1.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Hogar{
     background: url("../imagenes/hogar1.png");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Cocina{
    background: url("../imagenes/cocina.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Recamara{
     background: url("../imagenes/recamara1.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Bano{
    background: url("../imagenes/bano.webp");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Instrumentos{
     background: url("../imagenes/fondoinstrumentos.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.electrofonos{
     background: url("../imagenes/fondoinstrumento4.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Indicaciones{
  text-align: center;
color: #FCDB00;
font-family: impact;
font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: white;
-webkit-text-stroke: 2px black;
}
.percusion{
  background: url("../imagenes/fondoinstrumento3.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.viento{
  background: url("../imagenes/fondoinstrumento2.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.cuerda{
  background: url("../imagenes/fondoinstrumento1.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.Ambientes{
  background: url("../imagenes/FONDONATURA.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.naturaleza{
  background: url("../imagenes/fondonaturaleza.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}
.ciudad{
  background: url("../imagenes/ciudadnaturaleza.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
       cursor: url("../imagenes/cursorA.png"),auto;

}