.Grandeypequeño1{
	background: url('../imagenes/fondococina.jpg');
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
      cursor: url("../imagenes/cursorA.png"),auto;
}
.contenedorfinal{
     position: fixed;
     width: 100%;
     height: 100%;
}
.contenedor{
  width: 100%;
  height: 100%;
}
.encabezado{
  width: 100%;
  height: 15%;
}
.tarjetas{
  position: fixed;
  width: 100%;
  height: 85%;
}
.contenedorani{
	position: fixed;
	width: 100%;
	height: 100%;
}
.Titulos1{
	margin:flex;
  margin-left: 5%; 
  margin-right: 5%;
  width: 30%;
  height: 20%;
  border-radius: 30px;
  animation-iteration-count:infinite;
  animation-duration:5s;
  animation-name: intensidad;
}
@keyframes intensidad{
	0%{box-shadow: 0px 0px 50px yellow;}
	50%{box-shadow: 0px 0px 0px yellow;}
	100%{box-shadow: 0px 0px 50px yellow;}
}
.Titulos1:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}
.fondos{
	 
text-align: center;
color: white;
font-family: impact;
font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: white;
-webkit-text-stroke: 2px black;

}
.Grandeypequeño2{
	background: url('../imagenes/fondococina2.jpg');
	   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Grandeypequeño3{
	background: url('../imagenes/fondococina3.jpg');
	   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Grandeypequeño4{
	background: url('../imagenes/Fondo4.webp');
	   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Alinear1{
	background: url('../imagenes/fondococina.jpg');
	   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.botonesmenu{
	margin: flex;
    margin-left: 1%; 
    margin-right: 5%;
    margin-top:1%;
}
.botonesmenu:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}
.menu{
	background: url('../imagenes/fondomenu.jpg');
	background-size: 1300px 900px; 
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.Menu2{
	background: url('../imagenes/fondo1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.gpanimales{
	 background: url('../imagenes/Bosque Tropical 1.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   cursor: url("../imagenes/cursorA.png"),auto;

}
.final1{
	background: url('../imagenes/fondococina4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final2{
	background: url('../imagenes/bosque2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.transportes1{
	background: url('../imagenes/fondociudad.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.transportes2{
	background: url('../imagenes/ciudad2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.transportes3{
	background: url('../imagenes/ciudad3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.transportes4{
	background: url('../imagenes/ciudad4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.transportes5{
	background: url('../imagenes/ciudad6.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final3{
	background: url('../imagenes/ciudadanimada.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.instru1{
	background: url('../imagenes/escenario1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.instru2{
	background: url('../imagenes/escenario2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.instru3{
	background: url('../imagenes/instru3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.instru4{
	background: url('../imagenes/escenario4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.instru5{
	background: url('../imagenes/escenario5.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final4{
	background: url('../imagenes/escenario2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.droppable2:hover{
	transform: scale(1.10);
}
#adelante{
	position: absolute;
	top: 370px; left: 570px;
}
.Menu3{
    background: url('../imagenes/fondoanimado.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocar1{
  background: url('../imagenes/restaurante1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocar2{
  background: url('../imagenes/restaurante2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocar3{
  background: url('../imagenes/restaurante3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocar4{
  background: url('../imagenes/restaurante4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocar5{
  background: url('../imagenes/restaurante5.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final6{
	background: url('../imagenes/final6.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarA1{
	background: url('../imagenes/casa1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarA2{
	background: url('../imagenes/casa2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarA3{
	background: url('../imagenes/bosque1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarA4{
	background: url('../imagenes/sabana1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarA5{
	background: url('../imagenes/bosque3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final7{
	background: url('../imagenes/fondobosque.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarT1{
	background: url('../imagenes/fondocielo.webp');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarT2{
	background: url('../imagenes/ciudad1.webp');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarT3{
	background: url('../imagenes/granja 1.png');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarT4{
	background: url('../imagenes/autopista.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarT5{
	background: url('../imagenes/ciudad4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final8{
	background: url('../imagenes/ciudadanimada.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
#tractor{
	position: absolute;
	top: 570px; left: 130px;
}
.colocarI1{
	background: url('../imagenes/fondo instrumento 1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarI2{
	background: url('../imagenes/fondo instrumento 2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarI3{
	background: url('../imagenes/fondo instrumento 3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarI4{
	background: url('../imagenes/fondo instrumento 4.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.colocarI5{
	background: url('../imagenes/fondo instrumento 2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.final9{
	background: url('../imagenes/fondo instrumento 3.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.mixto{
	background: url('../imagenes/bosquemixto.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
	    cursor: url("../imagenes/cursorA.png"),auto;

}
.diferente:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}
.regresar:hover{
	transform: scale(1.10);
}
*{
	transition: all 1s;
}

